body {
	--background-dark: #181818;
	--foreground-dark: #282828;
	--gl-blue: #242ec0;
	--gl-stripe: #ab2e35;
	--ul-black: #322d33;
	--ul-stripe: #be8d1e;
	--ml-purple: #301374;
	--ml-stripe: #bd23b7;

	padding: 0;
	margin: 0;
	background-color: var(--background-dark);
	color: white;
	font-size: 20px;
}

h1 {
	margin: 0;
	text-align: center;
	line-height: 15vh;
	font-size: 48px;
}
form {
	margin-left: 15%;
	margin-right: 15%;
}
input {
	border: 2px solid black;
	color: white;
	background-color: var(--foreground-dark);
	padding: .50rem;
}
select {
	-webkit-appearance: none;
	border: 2px solid black;
	background-color: var(--foreground-dark);
	color: white;
}

#top-image {
	height: 15vh;
	width: 100%;
	background-color: var(--foreground-dark);
}



#species-and-cp-container {
	height: 10vh;
	margin-top: 5vh;
}
#_ChosenPokemon, #_Cp{
	width: 42%;
	height: 100%;
	font-size: 20px;
}
#_ChosenPokemon{
	float: left;
	overflow-y: visible;
}
#_Cp{
	width: 42%;
	height: 100%;
	float: right;
	box-sizing: border-box;
}

#ivs-checkboxes-container{
	width: 100%;
	height: 10vh;
	margin-top: 5vh;
	text-align: center;
}
#ivs-container{
	float: left;
	height: 100%;
	width: 50%;
}
#ivs-container div{
	width: 28%;
	height: 100%;
	text-align: center;
	vertical-align: center;
	float:left;
	font-size: 20px;
}
#ivs-container select {
	width: 5vh;
	height: 5vh;
	font-size: 16px;
}

#checkboxes-container{
	float: right;
	height: 100%;
	width: 50%;
	font-size: 20px;
}
#checkboxes-container div{
	float:right;
	height: 100%;
	width: 28%;
}
#checkboxes-container input{
	width: 5vh;
	height: 5vh;
	margin: 0;
}



#calculate-button-container{
	width: 100%;
	margin-top: 5vh;
	text-align: center;
}
#calculate-button{
	width: 20%;
	padding: .5rem;
	font-size: 32px;
}


#_pokemon-title-container{
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 0vh;
	width: auto;
}


#output-container {
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	background-color: var(--foreground-dark);
	padding: 0.5vw;
}

#_output-header {
	border: 2px solid black;
	height: 10vh;
}
#_output-header div {
	display: inline-flex;
	line-height: 10vh;
}
#_output-header div img {
	height: 10vh;
	width: 10vh;
	float: left;
}
#__corner-header{
	background-color: var(--foreground-dark);
	width: 10%;
	height: 10vh;
}
#__gl-header{
	height: 10vh;
	width: 30%;
	background-color: var(--gl-blue);
}
#__ul-header{
	height: 10vh;
	width: 30%;
	background-color: var(--ul-black);
}
#__ml-header{
	height: 10vh;
	width: 30%;
	background-color: var(--ml-purple);
}


._pokemon-container {
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}
._pokemon-container div {
	display:inline-block;
	padding: 0.5vw;
	box-sizing: border-box;
}
._pokemon-container span {
	line-height: 5vh;
}
.__pokemon-data{
	height: 12vh;
	width: 10%;
	background-color: var(--foreground-dark);
}
.__gl-data{
	height: 12vh;
	width: 30%;
	background-color: var(--gl-blue);
}
.__ul-data{
	height: 12vh;
	width: 30%;
	background-color: var(--ul-black);
}
.__ml-data{
	height: 12vh;
	width: 30%;
	background-color: var(--ml-purple);
}
.PokeName {
	float:left;
	width:100%;
	text-align: center;
}
.PokeCP {
	float:left;
	width: 100%;
	text-align: center;
}
.PokePerc{
	float:left;
	text-align: center;
	width: 50%;
}
.PokeRank{
	float:right;
	text-align: center;
	width: 50%;
}
.PokeStardust{
	float: left;
	text-align: center;
	width: 50%;
}
.PokeCandy {
	float:right;
	text-align: center;
	width: 50%;
}