body {
	--background-dark: #181818;
	--foreground-dark: #323234;
	--gl-blue: #242ec0;
	--gl-stripe: #ab2e35;
	--ul-black: #322d33;
	--ul-stripe: #be8d1e;
	--ml-purple: #301374;
	--ml-stripe: #bd23b7;

	padding: 0;
	margin: 0;
	background-color: var(--background-dark);
	color: white;
	font-size: 20px;
}


input {
	border: 2px solid black;
	color: white;
	background-color: var(--foreground-dark);
	padding: .50rem;
}
select {
	-webkit-appearance: none;
	border: 2px solid black;
	background-color: var(--foreground-dark);
	color: white;
}


#top-image {
	height: 15vh;
	width: 100%;
	background-color: var(--foreground-dark);
}
#top-title {
	margin: 0;
	text-align: center;
	line-height: 15vh;
	font-size: 48px;
}

/*

 --- START OF INPUT CONTAINER ---

*/
#input-container form {
	margin-left: 15%;
	margin-right: 15%;
}
/**/
#species-and-cp-container {
	height: 10vh;
	margin-top: 5vh;
}
#_ChosenPokemon, #_Cp{
	width: 42%;
	height: 100%;
	font-size: 20px;
}
#_ChosenPokemon{
	float: left;
	overflow-y: visible;
}
#_Cp{
	width: 42%;
	height: 100%;
	float: right;
	box-sizing: border-box;
}
/**/
#ivs-checkboxes-container{
	width: 100%;
	height: 10vh;
	margin-top: 5vh;
	text-align: center;
}
#ivs-container{
	float: left;
	height: 100%;
	width: 50%;
}
#ivs-container div{
	width: 28%;
	height: 100%;
	text-align: center;
	vertical-align: center;
	float:left;
	font-size: 20px;
}
#ivs-container select {
	width: 5vh;
	height: 5vh;
	font-size: 16px;
}
/**/
#checkboxes-container{
	float: right;
	height: 100%;
	width: 50%;
	font-size: 20px;
}
#checkboxes-container div{
	float:right;
	height: 100%;
	width: 28%;
}
#checkboxes-container input{
	width: 5vh;
	height: 5vh;
	margin: 0;
}
/**/
#calculate-button-container{
	width: 100%;
	margin-top: 5vh;
	text-align: center;
}
#calculate-button{
	width: 20%;
	padding: .5rem;
	font-size: 32px;
}

/*

--- START OF OUTPUT-CONTAINER ---

*/
#output-container {
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	background-color: var(--foreground-dark);
	padding: 0.5vw;
}
/**/
#_output-header {
	border: 2px solid black;
}
#_output-header div {
	display: inline-block;
	line-height: 10vh;
}
#_output-header div img {
	height: 10vh;
	float: left;
	position: absolute;
}
#__corner-header{
	background-color: var(--foreground-dark);
	width: 10%;
}
#__corner-header span{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.__pvp-header-container {
	width: 30%;
	background-repeat: no-repeat;
	background-size: contain;
}
.__pvp-header-container span{
	display: inline-block;
	text-align: center;
	width: 100%;
}
.__gl-header{
	background-image: url("media/bannerGL.svg");
	background-color: var(--gl-blue);
}
.__ul-header{
	background-image: url("media/bannerUL.svg");
	background-color: var(--ul-black);
}
.__ml-header{
	background-image: url("media/bannerML.svg");
	background-color: var(--ml-purple);
}
/**/
._pokemon-container {
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}
._pokemon-container div {
	display: inline-block;
}
.__pokemon-data{
	width: 10%;
	background-color: var(--foreground-dark);
}
.__pokemon-data span{
	line-height: 7.5vh;
}
.__pvp-data-container {
	width: 30%;
	line-height: 5vh;
}
.__pvp-data-container > span {
	width: 50%;
	text-align: center;
	float: left;
}
.__gl-data{
	background-color: var(--gl-blue);
}
.__ul-data{
	background-color: var(--ul-black);
}
.__ml-data{
	background-color: var(--ml-purple);
}

/*TODO: rEFCAOTR*/
.PokeName {
	float:left;
	width: 100%;
	text-align: center;
}
.PokeCP {
	float:left;
	width: 100%;
	text-align: center;
}
.PokeCP_unit {
	font-size: 14px;
	margin-right: 2px;
}

.PokeValid {
	width: 100% !important;
	line-height: 15vh;
	font-size: 24px;
}